service logger /system/bin/logcat -b all -D -f /metadata/boot_log.txt
    class main
    user root
    group root system
    disabled
    oneshot
    
on boot
    rm /metadata/boot_log.txt
    start logger
